:root {
    --bg-color: #150E28;
    --white: #FFF;
    --primary-color: linear-gradient(
        270deg,
        #903aff 0%,
         #d434fe 56.42%,
        #ff26b9 99.99%,
        #fe34b9 100%
      );
}

/* Clash Display */
@font-face {
    font-family: 'Clash Display';
    src:  url('./assets/fonts/Clash_Display/Fonts/WEB/fonts/ClashDisplay-Semibold.woff')format('woff'), 
    url('./assets/fonts/Clash_Display/Fonts/WEB/fonts/ClashDisplay-Semibold.woff2') format('woff2') ;
    /* Add more font formats and sources as needed */
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat/Fonts/OTF/Montserrat-Regular.otf') format('otf'),
         url('./assets/fonts/Montserrat/Fonts/WEB/fonts/Montserrat-Regular.woff') format('woff'),
         url('./assets/fonts/Montserrat/Fonts/WEB/fonts/Montserrat-Regular.woff2') format('woff2');
    /* Add more font formats and sources as needed */
}


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Montserrat';
    background: var(--bg-color);
    color: var(--white);
}

.linked {
    color: #D434FE;
}

.navbar{
    display: flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
    flex: 1;
    border-bottom: 1px solid #FFFFFF2E;
    align-items: center;
    padding: 6rem 12.8rem  3rem;
    /*background-color: aliceblue;*/
    position: relative;
}

/* .logo, .nav-links, a {
    border: 1px solid red;
}*/

.logo {
    font-size: 3.6rem;
    font-family: 'Clash Display';
}

/*.nav-right {
    display: flex;
    max-width: 80rem;
}*/

a {
    text-decoration: none;
    color: var(--white);

}

.nav-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 85px;
}

.nav-btn {
    cursor: pointer;
}

.nav-links {
    display: flex;
    font-size: 1.6rem;
    min-width: 50rem;
    justify-content: center;
}

.active {
    display: block;
}

 .nav-links a {
    margin: 2rem;
 }


.nav-btn{
    padding: 16px 52px;
    border-radius: 4px;
    background: var(--primary-color);
    border-style: none;
    color: var(--white);
    cursor: pointer;
}

.hamburger {
    display: none;
}

.mobile-nav-links-container {
    position: absolute;
    top: 30px;
    bottom: 0px;
    z-index:999;
    right: 10px;
    background-color: var(--bg-color);
    height: 492px;
    width: 348px;
    display: none;
    flex-direction: column;
    padding: 35px;
    border-radius: 8px;
    border: 0.50px rgba(255, 255, 255, 0.04) solid;
}

.close-icon-container {
    padding: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.close {
    position: absolute;
    color: #F8F8F8;
    height: 8px;
    width: 8px;
}

.mobile-nav-links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-nav-links--link {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}


.mobile-nav-btn {
    padding: 16px 52px;
    border-radius: 4px;
    background: var(--primary-color);
    border-style: none;
    color: var(--white);
    margin-top: 20px;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 6px;
    }

    .navbar {
        padding: 36px 64px;
    }

    .nav-btn, .nav-links {
        display: none;
    }

    .hamburger {
        background: var(--bg-color);
        display: block;
    }
}


@media screen and (max-width: 550px) {
    html {
        font-size: 4px;
    }

    .navbar {
        padding: 36px 48px;
    }

    .nav-btn, .nav-links {
        display: none;
    }

    .hamburger {
        background: var(--bg-color);
        display: block;
    }

    .mobile-nav-links-container {
        display:block
    }

    .close-btn {
        border: 1px solid #903AFF;
        padding: 5px 6px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    
}
