:root {
    --bg-color: #150E28;
    --white: #FFF;
    --primary-color: linear-gradient(
        270deg,
        #903aff 0%,
         #d434fe 56.42%,
        #ff26b9 99.99%,
        #fe34b9 100%
      );
}

/* Clash Display */
@font-face {
    font-family: 'Clash Display';
    src:  url('./assets/fonts/Clash_Display/Fonts/WEB/fonts/ClashDisplay-Semibold.woff')format('woff'), 
    url('./assets/fonts/Clash_Display/Fonts/WEB/fonts/ClashDisplay-Semibold.woff2') format('woff2') ;
    /* Add more font formats and sources as needed */
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat/Fonts/OTF/Montserrat-Regular.otf') format('otf'),
         url('./assets/fonts/Montserrat/Fonts/WEB/fonts/Montserrat-Regular.woff') format('woff'),
         url('./assets/fonts/Montserrat/Fonts/WEB/fonts/Montserrat-Regular.woff2') format('woff2');
    /* Add more font formats and sources as needed */
}


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Montserrat';
    background: var(--bg-color);
    color: var(--white);
}

.navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    flex: 1;
    padding: 6rem 12.8rem  3rem;
    /*background-color: aliceblue;*/
}

.logo, .nav-links, a {
    border: 1px solid red;
}

.logo {
    font-size: 3.6rem;
    font-family: 'Clash Display';
}

/*.nav-right {
    display: flex;
    max-width: 80rem;
}*/

a {
    text-decoration: none;
    color: var(--white);

}


.nav-links {
   
    font-size: 1.6rem;
    max-width: 80rem;
    
}

 .nav-links a {
    margin: 2rem;
 }


.nav-btn{
    padding: 16px 52px;
    border-radius: 4px;
    background: var(--primary-color);
  border-style: none;
  color: var(--white);
}

.hamburger {
    display: none;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 6px;
    }

    .navbar {
        padding: 36px 64px;
    }
}


@media screen and (max-width: 550px) {
    html {
        font-size: 4px;
    }

    .navbar {
        padding: 36px 48px;
    }

    .nav-btn, .nav-links {
        display: none;
    }

    .hamburger {
        background: var(--bg-color);
        display: block;
    }
    
}
